// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.

//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

@import "../node_modules/bootstrap/scss/bootstrap.scss";

// Required
@import "../node_modules/bootstrap/scss/functions";

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

$custom-colors: (
  "primary": $primary,
  "danger": $danger,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../bootstrap-icons/font/bootstrap-icons.scss";

@import "./styles";
@import "./hero";
@import "./band";
@import "./termine";
@import "./footer";

@font-face {
  font-family: "comic";
  src:  url("./fonts/LadylikeBB.ttf") format("truetype");
}
